<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Admin view</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="Ciemiorek" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<h3>Downloads excel file with data </h3>
    <div>
    <a href="http://localhost:8080/admin/download/users.xlsx" >Users.xlsx</a>

    </div>
    <a href="http://localhost:8080/admin/download/book.xlsx">Books.xlsx</a>
    <div>

</div>
</body>
</html>